/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;1,300&display=swap');

body {
  background-color: #181818;
  color: #fff;
  font-family: Nunito;
  text-align: center;
}

main {
  max-width: 600px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #202020;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.user-info {
  padding: 10px;
  text-align: right;
  font-weight: 100;

  span {
    font-weight: 600;
  }
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #272727;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  height: 525px;

  .chat-window {
    padding: 20px 20px 20px 30px;
    overflow: auto;
  }
}

.chat-box {
  .user-profile-image {
    width: 70px;
    align-self: flex-end;
    margin-bottom: 40px;

    img {
      border-radius: 100px;
    }
  }

  .message {
    display: flex;
    flex-flow: column;
    width: 100%;
    text-align: justify;

    .message-box {
      padding: 10px 15px;
      font-weight: 100;
    }

    .info {
      margin: 10px 0;
      color: #707070;

      .username {
        font-weight: 600;
        color: #3ecf8e;
      }
    }
  }
}

.agent {
  display: flex;

  .user-profile-image {
    margin-right: 15px;
  }

  .message {
    align-items: flex-start;
  }

  .message-box {
    color: #181818;
    background: #fff;
    border-radius: 30px 30px 30px 5px;
  }
}

.sender {
  display: flex;
  flex-direction: row-reverse;

  .user-profile-image {
    margin-left: 15px;
  }

  .message {
    align-items: flex-end;
  }

  .message-box {
    color: #fff;
    background: #3ecf8e;
    border-radius: 30px 30px 5px 30px;
  }
}

.add-username {
  padding: 20px;
  border-radius: 10px;
  margin: auto;

  input {
    border: none;
    padding: 20px 40px;
    border-radius: 50px;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;

    &:focus {
      outline: none;
    }
  }
}
